# Dependencies
node_modules/
__pycache__/
*.pyc
.venv/
venv/

# Build
*.egg-info/

# Environment
.env
.env.local
.env.production

# IDE
.vscode/
.idea/

# OS
.DS_Store
desktop.ini
Thumbs.db

# Data
data/
database/
*.db
*.sqlite3
*.sql

# Logs
*.log

# Temp
.vite/
model_store/
